<div id="Principal">
    <div id="card-regalo"class="animate__animated animate__backInDown animate__delay-1s">
        <div id="div-regalo">
            <p class="centrado margin-bottom-0 margin-0 paddig letra-blanca tamano-42 letra-cursiva"> Su participación virtual en nuestra boda es el mejor regalo para nosotros, 
            <p Class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-mediano letra-molde"> pero si desea hacernos un regalo para nuestra nueva vida juntos,
            </p>
            <p class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-pequeno letra-molde tamano-mediopequeno "><u>depositarlo al:</u></p> 
            </p>
            <p class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-pequeno letra-molde tamano-mediopequeno">(banco de desarrollo rural, Banrural)
            </p>
            <p class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-pequeno letra-molde tamano-mediopequeno"> Cuenta Monetaria</p>
            <p class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-pequeno letra-molde "> 3509044298</p>
            <p class=" tamano-20 centrado margin-bottom-0 paddig letra-blanca tamano-pequeno letra-molde tamano-mediopequeno">A nombre de:</p>
            <p class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-20 letra-cursiva "> Jacqueline Ramazzini</p>
            
            <p class=" bold tamano-20 centrado linea-abajo-texto margin-bottom-0 paddig letra-blanca tamano-pequeno letra-molde tamano-mediopequeno "><u>O pueden hacernoslo llegar a:</u></p>
            <p class=" tamano-20 centrado margin-0 paddig letra-blanca tamano-pequeno letra-molde tamano-mediopequeno ">
                Km 19.8 calle las manzanillas, condominio los manzanillos casa 2
            </p>
        </div>
    </div>
</div>